@{
    ViewBag.Title = "Confirm Payment";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đảm bảo sử dụng layout chung nếu bạn có
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="confirmation-message">
                <h2>Thanh Toán Đơn Hàng Qua MoMo Thành Công</h2>
              
                <p class="thank-you">Cám Ơn Bạn Đã Mua Hàng!</p>
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Tiếp Tục Mua Sắm</a>
            </div>
        </div>
    </div>
</div>

<style>
    .confirmation-message {
        background-color: #f9f9f9;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

        .confirmation-message h2 {
            font-size: 28px;
            margin-bottom: 20px;
            color: #333;
        }

        .confirmation-message p {
            font-size: 18px;
            color: #666;
            margin-bottom: 10px;
        }

        .confirmation-message .thank-you {
            font-weight: bold;
            color: #32CD32;
        }

        .confirmation-message .btn-primary {
            margin-top: 20px;
        }
</style>
@Html.Partial("_FooterBottomPartial")