<div style="height: 50px;"></div>
@Html.Partial("_NotificationPartial")

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="empty-cart">
                <img src="/images/tv39.png" alt="Empty Cart" class="img-fluid mb-4">
                <h2 class="mb-3">Thanh Toán Đơn Hàng Qua Thành Công</h2>
                <p class="thank-you">Cám Ơn Bạn Đã Mua Hàng!</p>

                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Tiếp Tục Mua Sắm</a>
            </div>
        </div>
    </div>
</div>


