@model DoAnNhom_2.Areas.Admin.Controllers.UserEditViewModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit User</h1>
<div style="height: 180px;"></div>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="User.Id" />

    <div class="form-group">
        <label asp-for="User.UserName" class="control-label"></label>
     @*    <input asp-for="User.UserName" class="form-control" /> *@
        <span asp-validation-for="User.UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Email" class="control-label"></label>
    @*     <input asp-for="User.Email" class="form-control" /> *@
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <label class="control-label">Roles</label>
            <select asp-for="SelectedRoles" class="form-control" multiple>
                @foreach (var role in Model.Roles)
                {
                    <option value="@role.Value" selected="@Model.UserRoles.Contains(role.Value)">@role.Text</option>
                }
            </select>
            <span asp-validation-for="SelectedRoles" class="text-danger"></span>
        </div>
    }

    <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="sendForgotPasswordEmail('@Model.User.Id')">Send Forgot Password Email</button>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<script>
    function sendForgotPasswordEmail(userId) {
        if (confirm("Are you sure you want to send a forgot password email?")) {
            $.ajax({
                type: "POST",
                url: "/Admin/User/SendForgotPasswordEmail",
                data: { userId: userId },
                success: function () {
                    alert("Forgot password email sent successfully.");
                },
                error: function () {
                    alert("Error sending forgot password email.");
                }
            });
        }
    }
</script>
