@model DoAnNhom_2.Models.DiscountCodeModel

<h2>Discount Code Details</h2>

<div>
    <h4>Code: @Model.Code</h4>
    <h4>Discount: @Model.Discount</h4>
    <h4>Quantity: @Model.Quantity</h4>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
