<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2" style="font-size: 24px;">TEAM 2</h2>
                    <p style="color: #bbb; font-size: 16px;">Cùng nhau vươn lên, không ai bị bỏ lại phía sau.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2" style="font-size: 24px;">Menu</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block" style="font-size: 16px;">Shop</a></li>
                        <li><a href="#" class="py-2 d-block" style="font-size: 16px;">About</a></li>
                        <li><a href="#" class="py-2 d-block" style="font-size: 16px;">Journal</a></li>
                        <li><a href="#" class="py-2 d-block" style="font-size: 16px;">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2" style="font-size: 24px;">Help</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                            <li><a href="#" class="py-2 d-block" style="font-size: 16px;">Shipping Information</a></li>
                            <li><a href="#" class="py-2 d-block" style="font-size: 16px;">Returns &amp; Exchange</a></li>
                            <li><a href="#" class="py-2 d-block" style="font-size: 16px;">Terms &amp; Conditions</a></li>
                            <li><a href="#" class="py-2 d-block" style="font-size: 16px;">Privacy Policy</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block" style="font-size: 16px;">FAQs</a></li>
                            <li><a href="#" class="py-2 d-block" style="font-size: 16px;">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2" style="font-size: 24px;">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text" style="color: #bbb; font-size: 16px;">Thu Duc Campus, District 9, Ho Chi Minh City</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text" style="color: #bbb; font-size: 16px;">0868686741</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text" style="color: #bbb; font-size: 16px;">waitycolor7@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="color: #bbb; font-size: 16px;">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart color-danger" aria-hidden="true"></i>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<style>
    /* Định dạng màu chữ thành trắng */
    .ftco-footer, .ftco-footer-widget, .ftco-heading-2, .ftco-footer-social a, .ftco-footer-widget a {
        color: #bbb;
    }

    /* Định dạng màu nền thành đen */
    .ftco-footer {
        background-color: #333;
        padding: 30px 0;
    }

    .ftco-footer-widget h2 {
        color: #fff;
        font-size: 24px;
    }

    .ftco-footer-widget p {
        font-size: 16px;
    }

    .ftco-footer-widget ul li a {
        color: #bbb;
    }

        .ftco-footer-widget ul li a:hover {
            color: #fff;
        }

    .ftco-footer-social a {
        color: #bbb;
        font-size: 24px;
        margin-right: 10px;
    }

        .ftco-footer-social a:hover {
            color: #fff;
        }

    .block-23 ul li .icon {
        color: #bbb;
        margin-right: 10px;
    }

    .block-23 ul li .text {
        color: #bbb;
    }
</style>