
<div id="footer-bottom">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-md-4 col-sm-6">
                <div class="Shipping d-flex">
                    <p>Chúng Tôi Giao Hàng:</p>
                    <div class="card-wrap ps-2">
                        <img src="images/dhl.png" alt="visa">
                        <img src="images/shippingcard.png" alt="mastercard">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="payment-method d-flex">
                    <p>Chúng Tôi Thanh Toán</p>
                    <div class="card-wrap ps-2">
                        <img src="images/visa.jpg" alt="visa">
                        <img src="images/mastercard.jpg" alt="MOMO">
                        <img src="images/paypal.jpg" alt="paypal">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="copyright">
                    <p>
                        © Copyright 2024 Team2.  Liên Hệ <a href="https://www.facebook.com/hlongiupow">Ngô Duy Hoàng Long</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>