<div class="sidebar">
    <div class="sidebar-section">
        <h2>Category</h2>
        <div class="panel-group category-products" id="category-accordian">
            <!-- Category Products -->
            <vc:categories></vc:categories>
        </div>
    </div>

    <div class="sidebar-section">
        <h2>Brands</h2>
        <div class="panel-group category-products" id="brand-accordian">
            <!-- Brands -->
            <vc:brands></vc:brands>
        </div>
    </div>
</div>
<style>
    .sidebar {
        border: 1px solid #ccc;
        padding: 10px;
    }

    .sidebar-section {
        margin-bottom: 20px;
    }

        .sidebar-section h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

    .panel-group {
        margin-bottom: 0;
    }

</style>