@page
@model LockoutModel
@{
    ViewData["Title"] = "Tạm khóa tài khoản";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="empty-cart">
                <img src="/images/tv39.png" alt="Empty Cart" class="img-fluid mb-4">
                <h2 class="mb-3" style="color:red">Tài Khoản Này Đang Bị Khóa</h2>
                <p class="thank-you">Vui lòng thử lại sau</p>

                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Trở về trang chủ</a>
            </div>
        </div>
    </div>
</div>